body {
    background-color: darkblue;
}
h1 {
    color: black;
    text-align: center;
}
p {
    color: #f716ac;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-style: normal;
}
h2:hover{
    color: aquamarine;
}
h2 {
    color: #e5ff00;
    font-family: cursive;
    font-size: 50px;
    font-style: normal;
}
a:visited {
    color: #39FF14;
}
a {
    animation: .5s linear 1s infinite alternate slidein;
}
p2 {
    color: #6b0000;
    font-family: Garamond, serif;
    font-size: 20px;
    font-style: italic;
}